.user-box-container {
    margin: 0;
    padding: 8px;
    display: flex;
    flex-direction: column;
}

.user-card-container {
    background-color: var(--deca);
    justify-content: safe;
    align-items: center;
    width: 100%;
    border-radius: 12px;
}

.user-card-image {
    background-color: var(--deca);
    border: 5px solid var(--tert);
    border-style: double;
    max-width: 200px;
    border-radius: 12px 0px 0px 12px;
    margin: 0;
}

.user-body-container {
    background-color: var(--deca);
    width: 100%;
    padding: 12px;
    border-radius: 12px;
    margin-top: 6px;
}

.user-item {
    height: 60px;
    border-radius: 12px;
    background-color: var(--sept);
    padding: 12px;
    display: flex;
    align-items: center;
}

.user-badge-container {
    max-width: 400px;
    display: flex;
    border-radius: 10px;
    margin: 0;
}

.badge-item {
    padding: 4px;
    width: 40px;
    height: 40px;
}

.sm-card-container {
    height: 84px;
    background-color: var(--deca);
    color: #fff;
    border-radius: 14px 0px;
    display: flex;
    cursor: pointer;
    transition: all 0.2s ease-in;
}

.sm-card-container:hover {
    box-shadow: 0px 20px 30px 8px rgba(156, 15, 34, 0.315);
}

.sm-card-image {
    height: 100%;
    max-width: 88px;
    padding: 8px;
    background-color: var(--deca);
    border: solid var(--tert);
    border-radius: 14px 0px;
    border-style: double;
}

.sm-card-title {
    padding: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.sm-card-info {
    align-items: center;
    display: inline-flex;
    padding: 20px 2px;
    font-size: 14px;
    font-weight: 300;
    width: 100%;
    color: var(--sena);
}

.sm-card-info li {
    list-style: none;
    margin-right: 10px;
}

@media screen and (max-width: 550px) {
    .user-card-image {
        max-width: 100px;
        padding: 10px;
        border-radius: 12px;
    }
    .user-card-container {
        align-items: center;
        text-decoration-color: transparent;
        padding: 10px;
    }
    .badge-item {
        width: 30px;
        height: 30px;
    }
}