.cl-max-container {
    padding: 60px;
    justify-content: center;
    background-color: var(--sept);
}

.cl-max-container hr {
    margin: 1rem 0;
    color: inherit;
    background-color: var(--sena);
    border: 0;
    opacity: 1;
}

.cl-max-container li {
    margin: 30px;
}

.cl-user-display-card {
    min-width: 290px;
    background-color: var(--deca);
    border-radius: 30px;
    padding: 20px;
}

.cl-user-card-image {
    max-width: 300px;
    border-radius: 30px 30px 0px 0px;
}

.cl-user-card-container {
    width: 300px;
    align-items: center;
    border-radius: 0px 0px 30px 30px;
    text-decoration-color: transparent;
    padding: 8px;
    display: grid;
}

.cl-max-container h3 {
    text-align: center;
    font-size: 19px;
    font-weight: 700;
    min-height: 40px;
    color: #fff;
}

.cl-user-box-container {
    background-color: var(--deca);
    border: 1px solid var(--sena);
    justify-content: center;
    align-items: center;
    max-width: 300px;
    border-radius: 30px;
}

.cl-user-badge-container {
    max-height: 50px;
    display: flex;
    overflow-x: auto;
    background-color: var(--sept);
    border-radius: 10px;
    padding: 0px;
}

.cl-user-badge-container::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.badge-item {
    width: 30px;
    height: 30px;
    margin-right: 3px;
}

.user-minicard-container {
    height: 90px;
    background-color: var(--deca);
    border-radius: 10px;
    align-items: flex-start;
    justify-content: start;
    display: flex;
}

.user-minicard-image {
    max-height: 88px;
    max-width: 88px;
    padding: 8px;
    border-radius: 20px;
}

.user-minicard-username {
    padding: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.user-minicard-username h6 {
    font-size: 19px;
    font-weight: 500;
    color: #fff;
}

.user-minicard-info {
    align-items: center;
    display: inline-flex;
    padding: 20px 2px;
    font-size: 14px;
    font-weight: 300;
    width: 100%;
    color: var(--sena);
}

.user-minicard-info li {
    list-style: none;
    margin-right: 10px;
}

@media screen and (max-width: 550px) {
    .cl-max-container {
        display: flex;
        padding: 40px;
        min-width: 250px;
    }
    .cl-user-display-card {
        width: 270px;
        background-color: var(--deca);
        border-radius: 30px;
        padding: 5px;
        border: 1px solid var(--sena);
        font-size: x-small;
    }
    .cl-user-card-image {
        max-width: 250px;
        max-height: 200px;
        border-radius: 30px;
        padding: 10px;
    }
    .cl-user-card-container {
        max-width: 200px;
        align-items: center;
        text-decoration-color: transparent;
        padding: 10px;
        border: none;
        border-bottom: 1px solid var(--sena);
        border-radius: 15px;
    }
    .cl-user-card-container h3 {
        text-align: center;
        font-size: 15px;
        font-weight: 700;
        min-height: 40px;
        color: #fff;
    }
    .cl-user-card-container h2 {
        text-align: center;
        font-size: 17px;
        font-weight: 700;
        min-height: 40px;
        color: #fff;
    }
    .cl-max-container li {
        margin: 0px;
    }
    .cl-user-box-container {
        max-width: 300px;
        padding: 10px;
    }
}