.cl-max-container {
    padding: 60px;
    justify-content: center;
    background-color: var(--sept);
}

.cl-max-container hr {
    margin: 1rem 0;
    color: inherit;
    background-color: var(--sena);
    border: 0;
    opacity: 1;
}

.cl-max-container li {
    margin: 30px;
}

.cl-user-cont {
    background-color: var(--deca);
    border-radius: 30px;
    padding: 20px;
}

.cl-user-card-image {
    max-width: 300px;
    border-radius: 30px 30px 0px 0px;
}

.cl-user-card-container {
    width: 300px;
    align-items: center;
    background-color: var(--deca);
    border-radius: 0px 0px 30px 30px;
    text-decoration-color: transparent;
    padding: 10px;
    display: grid;
    border: 1px solid var(--sena);
}

.cl-max-container h3 {
    text-align: center;
    font-size: 19px;
    font-weight: 700;
    min-height: 40px;
    color: #fff;
}

.cl-max-container h2 {
    text-align: center;
    font-size: 21px;
    font-weight: 700;
    min-height: 40px;
    color: #fff;
}

.cl-user-box-container {
    background-color: var(--deca);
    justify-content: center;
    align-items: center;
    margin: 0px 20px 60px 20px;
    max-width: 350px;
    border-radius: 30px;
}

.cl-user-badge-container {
    max-height: 50px;
    display: flex;
    overflow-x: auto;
    background-color: var(--sept);
    border-radius: 10px;
    padding: 0px;
}

.cl-user-badge-container::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.badge-item {
    width: 30px;
    height: 30px;
    margin-right: 3px;
}

@media screen and (max-width: 500px) {
    .UserItems {
        position: relative;
    }
    .cl-max-container {
        padding: 40px;
    }
    .cl-user-card-container {
        width: 250px;
        align-items: center;
        background-color: var(--deca);
        border-radius: 0px 0px 30px 30px;
        text-decoration-color: transparent;
        padding: 10px;
        display: grid;
        border: 1px solid var(--sena);
    }
    .cl-user-cont {
        width: 270px;
        background-color: var(--deca);
        border-radius: 30px;
        padding: 20px;
        border: 1px solid var(--sena);
        font-size: smaller;
    }
    .cl-user-card-image {
        max-width: 200px;
        max-height: 250px;
        border-radius: 30px 30px 0px 0px;
    }
    .cl-user-card-container {
        max-width: 188px;
        align-items: center;
        background-color: var(--deca);
        border-radius: 0px 0px 30px 30px;
        text-decoration-color: transparent;
        padding: 10px;
        display: grid;
        border: none;
    }
    .cl-user-card-container h3 {
        text-align: center;
        font-size: 17px;
        font-weight: 700;
        min-height: 40px;
        color: #fff;
    }
    .cl-user-card-container h2 {
        text-align: center;
        font-size: 19px;
        font-weight: 700;
        min-height: 40px;
        color: #fff;
    }
    .cl-max-container li {
        margin: 0px;
    }
}