.cl-form-container {
    background-color: rgb(25, 24, 34);
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
}

.cl-form {
    width: calc(100% - 20px);
}

.cl-form-group {
    margin-bottom: 20px;
}

.cl-form-group label {
    font-size: 12px;
    color: rgb(142, 140, 148);
}

.cl-form-btn-container {
    display: flex;
    justify-content: center;
}

.cl-form-btn {
    padding: 8px 28px;
    border-radius: 4px;
    font-size: 18px;
    border: none;
    background-color: var(--seco);
    color: #fff;
    cursor: pointer;
    text-decoration-color: transparent;
}

.cl-form-btn:hover {
    padding: 6px 26px;
    transition: all 0.3s ease-out;
    background-color: var(--quar);
    color: #fff;
    border-radius: 4px;
    border: 2px solid var(--seco);
}

.cl-quest-card-image {
    width: 100%;
    border-radius: 8px 8px 0 0;
}

.cl-card-bottom-container {
    background-color: #0b1218;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 10px 20px 10px;
    border-radius: 0 0 8px 8px;
    cursor: pointer;
    text-decoration-color: transparent;
    margin-bottom: 5px;
}

.cl-card-bottom-container h3 {
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    min-height: 40px;
    color: #fff;
}