.cl-form-container {
    background-color: rgb(25, 24, 34);
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
}

.cl-form {
    width: calc(100% - 20px);
}

.cl-form-group {
    margin-bottom: 20px;
    line-height: 30px;
}

.cl-form-group label {
    font-size: 12px;
    color: rgb(142, 140, 148);
}

.cl-form-btn-container {
    display: flex;
    justify-content: center;
}

.cl-form-btn {
    padding: 8px 28px;
    border-radius: 4px;
    font-size: 18px;
    border: none;
    background-color: var(--seco);
    color: #fff;
    cursor: pointer;
    text-decoration-color: transparent;
}

.cl-form-btn:hover {
    padding: 6px 26px;
    transition: all 0.3s ease-out;
    background-color: var(--quar);
    color: #fff;
    border-radius: 4px;
    border: 2px solid var(--seco);
}

.card-form-image {
    width: 100%;
    border-radius: 8px 8px 0 0;
}

.card-form-container {
    background-color: #0c171f;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 10px 20px 10px;
    border-radius: 8px;
    cursor: pointer;
    text-decoration-color: transparent;
    margin-bottom: 5px;
}

.card-form-container h3 {
    padding: 7px;
    border-radius: 8px;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    height: 40px;
    color: #fff;
}

.card-form-container h4 {
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    min-height: 40px;
    color: #fff;
}

.card-form-container hr {
    margin: 1rem 0;
    color: inherit;
    background-color: var(--tert);
    border: 0;
    opacity: 1;
}

.card-info {
    width: 100%;
    padding: 20px 20px 20px 20px;
    line-height: 20px;
}