.dropdonw-menu {
    background: var(--prim);
    max-width: 330px;
    position: absolute;
    top: 80px;
    list-style: none;
    text-align: center;
    border-radius: 30px;
    padding: 15px 10px 15px 10px;
    justify-content: space-between;
}

.dropdown-menu li {
    background: var(--tert);
    cursor: pointer;
}

.dropdonw-menu li:hover {
    height: 64px;
    border-radius: 50px;
    background-color: var(--quar);
}

.dropdown-menu.clicked {
    display: none;
}

.dropdown-link {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: #fff;
    padding: 16px;
}

.dropdown-link:hover {
    color: #fff;
}

@media screen and (max-width: 960px) {
    .fa-caret-down {
        display: none;
    }
}