.article-card-container {
    min-width: 250px;
    max-height: 250px;
    background-color: #0b1218;
    color: #fff;
    text-decoration: underline;
    text-decoration-color: #0b1218;
    text-align: justify;
    padding: 20px 20px 20px 20px;
    border-radius: 10px;
    margin: 5px;
    font-size: 12px;
}

.article-card-container h3 {
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    min-height: 40px;
    color: #fff;
    text-decoration: transparent;
}

.article-card-container hr {
    margin: 1rem 0;
    color: inherit;
    background-color: var(--tert);
    border: 0;
    opacity: 1;
}

.viewed-container {
    text-align: end;
    font-size: smaller;
}

@media screen and (max-width: 660px) {
    .article-card-container {
        min-width: 200px;
        max-height: 220px;
        font-size: 9px;
    }
    .article-card-container h3 {
        text-align: center;
        font-size: 11px;
        font-weight: 700;
        min-height: 40px;
        color: #fff;
        text-decoration: transparent;
    }
}