.card-game-container {
    width: 360px;
    height: max-content;
    padding: 10px;
    transition: all 0.2s ease-in;
    cursor: pointer;
    background-color: var(--deca);
    border-radius: 12px;
    border: 1px solid #b8b6b6;
    white-space: nowrap;
    overflow: hidden;
}

.card-game-list {
    height: max-content;
    justify-content: space-evenly;
    padding: 0;
}

.card-game-title {
    display: flex;
    height: 60px;
    padding: 16px;
    list-style: none;
    font-size: large;
    font-weight: 500;
    justify-content: space-between;
    align-items: center;
}

.card-game-item {
    display: flex;
    padding: 0px;
    margin: 2px;
    height: 100px;
    align-items: center;
    border-top: 1px solid #b8b6b6;
    transition: all 0.2s ease-in-out;
}

.card-game-content {
    align-items: center;
    list-style: none;
    font-size: medium;
    font-weight: 300;
    padding: 8px;
    margin: 0;
    text-overflow: ellipsis;
}

.quizz-container {
    display: flex;
    color: #fff;
    width: 100%;
    margin: 0;
    overflow-x: scroll;
}

.quest-container {
    color: #fff;
    padding: 30px;
    font-size: x-large;
    overflow-y: scroll;
    border-right: 1px solid var(--tert);
}

.card-info {
    width: 100%;
    padding: 20px 20px 20px 20px;
    line-height: 20px;
    color: var(--sena);
}