.card-game-container {
    width: 400px;
    height: max-content;
    padding: 10px;
    transition: all 0.2s ease-in;
    cursor: pointer;
    background-color: var(--deca);
    border-radius: 12px;
    border: 1px solid #b8b6b6;
}

.card-game-list {
    height: max-content;
    justify-content: space-evenly;
    padding: 0;
}

.card-game-title {
    display: flex;
    height: 60px;
    padding: 16px;
    list-style: none;
    font-size: large;
    font-weight: 500;
    justify-content: space-between;
    align-items: center;
}

.card-game-item {
    display: flex;
    padding: 0px;
    margin: 2px;
    height: 100px;
    align-items: center;
    border-top: 1px solid #b8b6b6;
    transition: all 0.2s ease-in-out;
}

.card-game-content {
    align-items: center;
    list-style: none;
    font-size: medium;
    font-weight: 300;
    padding: 8px;
    margin: 0;
}

.quizz-container {
    display: flex;
    color: #fff;
    width: 100%;
    margin: 0;
    overflow-x: scroll;
}

.quest-container {
    color: #fff;
    padding: 30px;
    font-size: x-large;
    overflow-y: scroll;
    border-right: 1px solid var(--tert);
}

.form {
    background-color: #0c171f;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
    color: var(--sena);
}

.form-group {
    margin-bottom: 20px;
    line-height: 30px;
    list-style: none;
    width: 100%;
}

.form-group ul {
    list-style: none;
    padding: 0;
}

.form-group li {
    background-color: var(--sept);
    padding: 8px;
    margin-bottom: 3px;
    border: 2px solid transparent;
    transition: all 0.2s ease-out;
    border-radius: 20px;
    cursor: pointer;
}

.form-group li:hover {
    background-color: transparent;
    border: 2px solid var(--tert)
}

.card-form-image {
    width: 100%;
    border-radius: 8px 8px 0 0;
}

.card-form-container {
    background-color: #0c171f;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 8px;
    text-decoration-color: transparent;
    margin-bottom: 5px;
    overflow-x: scroll;
}

.card-form-container h3 {
    display: flex;
    padding: 4px 8px 4px 8px;
    border-radius: 8px;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    color: var(--sena);
}

.card-form-container hr {
    margin: 1rem 0;
    color: inherit;
    background-color: var(--tert);
    border: 0;
    opacity: 1;
}

.card-info {
    width: 100%;
    padding: 20px 20px 20px 20px;
    line-height: 20px;
    color: var(--sena);
}