.datatable-container {
    color: var(--sena);
    justify-content: center;
    align-items: center;
}

.rank-details-container {
    display: grid;
    min-height: 400px;
    align-items: center;
    justify-content: center;
}