.footer-max-container {
    min-height: 600px;
    width: 100%;
    background: linear-gradient(130deg, rgb(31, 23, 26) 18%, rgba(29, 17, 22, 0.982) 50%, rgba(29, 11, 17, 0.982) 90%);
}

.footer-container {
    position: absolute;
    margin: 320;
    width: 100%;
    color: #fff;
    padding: 100px 20px 40px 20px;
}

.footer-container h3 {
    margin-bottom: 20px;
    color: #fff;
    font-size: 20px;
    font-weight: 100;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.footer-container h5 {
    margin-bottom: 20px;
    color: #fff;
    font-size: x-large;
    font-weight: 100;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.footer-container hr {
    margin: 1rem 0;
    color: inherit;
    background-color: var(--sena);
    border: 0;
    opacity: 1;
}

.footer-base-container {
    height: 90px;
    width: 100%;
    padding-top: 40px;
}

.footer-base-text-container {
    padding: 30px 50px 30px 50px;
    text-align: center;
}

.footer-grid-container {
    justify-content: center;
    align-items: center;
    margin: 0px 20px 60px 20px;
    max-width: 380px;
}

.footer-img {
    margin-right: 20px;
    height: 25px;
    width: 25px;
}

.footer-img h5 {
    color: #fff;
    text-decoration-color: transparent;
}

.footer-logo {
    margin-left: 20px;
    height: 80px;
    width: 80px;
    padding-top: 30px;
}

@media screen and (max-width: 660px) {
    .footer-max-container {
        min-height: 12in;
        background-color: var(--prim);
    }
    .footer-container {
        width: 90%;
    }
    .footer-logo {
        margin-left: 5px;
        height: 70px;
        width: 70px;
        padding-top: 10px;
    }
    .footer-base-text-container {
        padding: 5px 10px 5px 10px;
        text-align: center;
        font-size: small;
    }
    .footer-base-container {
        height: 60px;
        padding-top: 20px;
    }
}