.cl-quest-card-image {
    width: 100%;
    border-radius: 8px 8px 0 0;
}

.cl-card-bottom-container {
    background-color: #0c171f;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 10px 20px 10px;
    border-radius: 0 0 8px 8px;
    cursor: pointer;
    text-decoration-color: transparent;
    margin-bottom: 5px;
}

.cl-card-bottom-container h3 {
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    min-height: 40px;
    color: #fff;
}

.cl-card-bottom-container h4 {
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    min-height: 40px;
    color: #fff;
}

.cl-card-bottom-container hr {
    margin: 1rem 0;
    color: inherit;
    background-color: var(--tert);
    border: 0;
    opacity: 1;
}

.cl-card-info {
    width: 100%;
    padding: 20px 20px 20px 20px;
    line-height: 20px;
}