.card-form-image {
    width: 100%;
    border-radius: 8px 8px 0 0;
}

.card-form-container {
    background-color: #0c171f;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 8px;
    text-decoration-color: transparent;
    margin-bottom: 5px;
    overflow-x: scroll;
}

.card-form-container h3 {
    display: flex;
    padding: 4px 8px 4px 8px;
    border-radius: 8px;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    color: var(--sena);
}