.quizz-container {
    display: flex;
    color: #fff;
    width: 100%;
    margin: 0;
    min-height: 700px;
    overflow-x: auto;
}

.quest-container::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.quest-container {
    padding: 10px;
    min-width: 300px;
}

.menu-options-container {
    display: flex;
    padding: 20px;
    align-items: flex-start;
}

.menu-options-item {
    padding: 10px;
    align-items: center;
}