.quizz-container {
    display: flex;
    color: #fff;
    width: 100%;
    margin: 0;
    min-height: 700px;
    overflow-x: auto;
}

.quest-container::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.quest-container {
    padding: 10px;
    min-width: 300px;
}

.menu-options-container {
    display: grid;
    padding: 10px;
    align-items: flex-start;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.menu-options-item {
    display: grid;
    padding: 6px;
    align-items: center;
    justify-content: center;
    align-self: center;
}

.menu-options-container h2 {
    font-size: 24px;
    text-align: start;
}