.article-container {
    margin: auto;
    justify-content: center;
    background-color: var(--deca);
    max-height: 600px;
    text-align: center;
    border-radius: 10px;
    overflow-y: scroll;
    padding: 20px;
}

.article-content {
    display: grid;
    padding: 30px;
    text-align: justify;
    font-size: x-large;
}

.article-card-info {
    background-color: var(--nona);
    padding: 20px;
}

.article-image {
    max-width: 600px;
    max-height: 400px;
    border: 6px solid var(--tert);
    border-style: double;
    border-radius: 20px 0px 20px 0px;
}

.article-summary {
    text-align: center;
}

.article-header {
    padding: 10px;
    text-align: center;
    overflow-x: scroll;
}

@media screen and (max-width: 600px) {
    .article-container {
        width: initial;
        text-align: center;
        border-radius: 10px;
    }
    .article-content {
        display: grid;
        padding: 0;
        text-align: justify;
    }
    .article-image {
        max-height: 300px;
        width: max-content
    }
    .article-card-info {
        background-color: var(--nona);
        padding: 10px;
        font-size: xx-small;
    }
}

.article-card-container {
    min-width: 300px;
    height: 250px;
    background-color: #0b1218;
    color: #fff;
    text-align: justify;
    padding: 14px;
    border-radius: 10px;
    margin: 5px;
    overflow-y: scroll;
}

.article-card-container h3 {
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    min-height: 40px;
    color: #fff;
    text-decoration: transparent;
}

.viewed-container {
    text-align: end;
    font-size: smaller;
}

@media screen and (max-width: 660px) {
    .article-card-container {
        min-width: 200px;
        max-height: 220px;
        font-size: 10px;
    }
    .article-card-container h3 {
        text-align: center;
        font-size: 11px;
        font-weight: 500;
        max-height: 40px;
        color: #fff;
        text-decoration: transparent;
    }
}