.article-container {
    margin: auto;
    justify-content: center;
    background-color: var(--deca);
    max-height: 600px;
    text-align: center;
    border-radius: 10px;
    overflow-y: scroll;
    padding: 20px;
}

.article-container::-webkit-scrollbar {
    width: 0%;
}

.article-container h2 {
    text-align: center;
    padding: 20px 10px 20px 10px;
}

.article-content {
    display: grid;
    padding: 30px;
    text-align: justify;
    font-size: x-large;
}

.article-card-info {
    background-color: var(--nona);
    padding: 20px;
}

.article-card-info h2 {
    font-size: 30px;
}

.article-card-info li {
    font-size: 10px;
    margin-bottom: 3px;
}

.article-image {
    padding: 20px;
    max-width: 600px;
    max-height: 400px;
}

.article-summary {
    border-bottom: 1px solid var(--sena);
    max-width: 600px;
    text-align: center;
}

.article-header {
    padding: 10px;
    display: grid;
    text-align: center;
    overflow-x: scroll;
}

.article-header::-webkit-scrollbar {
    width: 0;
    height: 0;
}

@media screen and (max-width: 600px) {
    .article-container {
        width: initial;
        text-align: center;
        border-radius: 10px;
    }
    .article-content {
        display: grid;
        padding: 0;
        text-align: justify;
        font-size: small;
    }
    .article-image {
        padding: 10px;
        max-width: 300px;
        max-height: 300px;
    }
    .article-summary {
        max-width: 300px;
        font-size: small;
    }
    .article-card-info {
        background-color: var(--nona);
        padding: 10px;
        font-size: xx-small;
    }
    .article-card-info h2 {
        font-size: 15px;
    }
}

.article-card-container {
    min-width: 250px;
    height: 250px;
    background-color: #0b1218;
    color: #fff;
    text-decoration: underline;
    text-decoration-color: #0b1218;
    text-align: justify;
    padding: 20px 20px 20px 20px;
    border-radius: 10px;
    margin: 5px;
    font-size: 12px;
    overflow-y: scroll;
}

.article-card-container::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

.article-card-container h3 {
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    min-height: 40px;
    color: #fff;
    text-decoration: transparent;
}

.article-card-container hr {
    margin: 1rem 0;
    color: inherit;
    background-color: var(--tert);
    border: 0;
    opacity: 1;
}

.viewed-container {
    text-align: end;
    font-size: smaller;
}

@media screen and (max-width: 660px) {
    .article-card-container {
        min-width: 200px;
        max-height: 220px;
        font-size: 10px;
    }
    .article-card-container h3 {
        text-align: center;
        font-size: 11px;
        font-weight: 500;
        max-height: 40px;
        color: #fff;
        text-decoration: transparent;
    }
}