.dropdonw-menu {
    border: solid var(--seco);
    background-color: var(--sept);
    width: 90%;
    list-style: none;
    text-align: center;
    border-radius: 12px 0px;
    padding: 15px;
    justify-content: space-between;
}

.dropdown-menu li {
    background: var(--tert);
    cursor: pointer;
}

.dropdonw-menu li:hover {
    height: 64px;
}

.dropdown-menu.clicked {
    display: none;
}

.dropdown-link {
    border: 2px solid transparent;
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: var(--sena);
    padding: 16px;
}

.dropdown-link:hover {
    border-radius: 12px 0px;
    border: 2px solid var(--seco);
    cursor: pointer;
    background-color: var(--seco);
    transition: all 0.3s ease-out;
    color: #fff;
}

@media screen and (max-width: 960px) {
    .fa-caret-down {
        display: none;
    }
}