.navbar {
    background: linear-gradient(138deg, rgba(52, 2, 24, 1) 18%, rgba(29, 8, 17, 0.9823943661971831) 97%, rgba(36, 8, 15, 1) 100%);
    ;
    ;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
}

.navbar-logo {
    color: #ffffff;
    justify-self: start;
    margin-left: 30px;
    margin-bottom: 40px;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

.fa-firstdraft {
    margin-left: 0.5rem;
    font-size: 1.6rem;
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 70vw;
    justify-content: start;
    margin-right: 2rem;
}

.nav-item {
    display: flex;
    align-items: center;
    height: 80px;
}

.nav-links {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    margin-bottom: 15px;
}

.nav-links:hover {
    background-color: var(--octo);
    border-radius: 50px;
    transition: all 0.2s ease-out;
    color: #fff;
}

.fa-bars {
    color: #fff;
}

.profile-nav {
    display: none;
}

.nav-links-mobile {
    display: none;
}

.nav-links-image {
    display: none;
}

.menu-icon {
    display: none;
}

@media screen and (max-width: 960px) {
    .NavbarItems {
        position: relative;
    }
    .nav-menu {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 14.3in;
        position: absolute;
        top: 80px;
        left: -100%;
        opacity: 1;
        transition: all 0.9s ease;
    }
    .nav-menu.active {
        background: var(--quin);
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
        padding: 40px 30px 20px 30px;
    }
    .navbar-logo {
        position: absolute;
        top: 0;
        transform: translate(20%, 20%);
        justify-self: start;
        margin-left: 15px;
        margin-bottom: 30px;
        height: 56px;
    }
    .menu-icon {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%, 50%);
        font-size: 1.8rem;
        cursor: pointer;
    }
    .fa-times {
        color: #fff;
        font-size: 2rem;
    }
    .profile-nav {
        display: flex;
        width: 100%;
        align-items: center;
        justify-self: center;
        justify-content: center;
        padding: 10px 10px 20px;
    }
    .nav-links {
        display: block;
        background: var(--tert);
        text-align: center;
        padding: 1.5rem;
        margin: auto;
        width: 100%;
        border-radius: 50px;
        display: table;
        font-size: 1.5rem;
    }
    .nav-links:hover {
        background-color: var(--octo);
        transition: 250ms;
    }
    .nav-links-mobile {
        display: block;
        text-align: center;
        padding: 1em;
        border-radius: 50px;
        text-decoration: none;
        color: #fff;
        font-size: 1.5rem;
        width: 100%;
        background-color: var(--tert);
    }
    .nav-links-image {
        display: flex;
        text-align: center;
        border-radius: 360px;
        border: 3px solid var(--tert);
        text-decoration: none;
        color: #fff;
        font-size: 1.5rem;
        width: 200px;
        height: 200px;
    }
    .nav-links-mobile:hover {
        background-color: var(--octo);
        color: #fff;
        transition: 250ms;
    }
    button {
        display: none;
    }
}