* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Libre Franklin', sans-serif;
}

.container {
    background-color: var(--sept);
    color: #fff;
    max-inline-size: 100%;
    max-zoom: 100%;
    margin: 0;
    height: 100%;
}

.article-scroll-container {
    max-height: 300px;
    padding: 20px 10px 20px 10px;
    display: flex;
    overflow-x: auto;
}

.article-scroll-container::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.article-item {
    width: 300px;
    height: px;
    text-align: center;
    background-color: var(--sept);
}

.quest-nav-container {
    background-color: var(--sept);
}