* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Libre Franklin', sans-serif;
}

.container {
    background-color: var(--sept);
    color: #fff;
    max-inline-size: 100%;
    max-zoom: 100%;
    margin: 0;
    height: 100%;
}

.pagination-page-container {
    position: relative;
    padding: auto;
    background-color: var(--nona);
    min-width: 60px;
}

.article-max-container {
    margin: 0;
    width: 100%;
    text-align: center;
}

.article-scroll-container {
    max-height: 300px;
    width: 100%;
    padding: 20px 10px 20px 10px;
    display: flex;
    overflow-x: auto;
    border-radius: 10px;
}

.article-scroll-container::-webkit-scrollbar {
    height: 0;
    width: 0;
}

.article-item {
    width: 300px;
    height: px;
    text-align: center;
    background-color: var(--sept);
}

.quest-max-container {
    background-color: var(--sept);
    padding: 10px 5px 10px 5px;
}

.quest-chapter-container {
    display: flex;
    max-height: 600px;
    width: 100%;
    padding: 20px 10px 20px 10px;
    border-radius: 10px;
}

@media screen and (max-width: 960px) {
    .article-max-container {
        width: 100%;
    }
    .article-scroll-container {
        width: 100%;
    }
    .pagination-page-container {
        margin: 0;
    }
}