.container {
    max-width: 1000px;
    background-color: var(--sept);
    color: #fff;
    max-inline-size: 100%;
    margin: 0;
    padding: 20px;
}

.container h2 {
    color: #fff;
    text-decoration-line: underline;
    text-decoration-color: var(--sept);
}

.pagination-page-container {
    position: relative;
    padding: auto;
    background-color: var(--nona);
    min-width: 60px;
}

.article-max-container {
    margin: 0;
    width: 100%;
    text-align: center;
}

.article-scroll-container {
    max-height: 300px;
    width: 100%;
    padding: 20px 10px 20px 10px;
    display: flex;
    overflow-x: auto;
    border-radius: 10px;
}

.article-scroll-container::-webkit-scrollbar {
    height: 0;
    width: 0;
}

.article-item {
    width: 330px;
    text-align: center;
}

.quest-chapter-container {
    background-color: var(--deca);
    display: flex;
    padding: 10px 5px 10px 5px;
    border-radius: 10px;
}

@media screen and (max-width: 650px) {
    .container {
        padding: 12px;
    }
    .pagination-page-container {
        display: none;
    }
    .article-max-container {
        max-height: 260px;
    }
    .article-scroll-container {
        padding: 5px;
    }
    .quest-chapter-container {
        background-color: transparent;
    }
}