:root {
    --prim: #731c3d;
    --seco: #94076a;
    --tert: #440431;
}

.footer-max-container {
    width: 100%;
    min-height: 1000px;
    background-color: var(--tert);
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.footer-container {
    margin: 320;
    width: 100%;
    height: 530.667px;
    background-color: var(--tert);
    color: #fff;
    padding: 40px 0px 40px 0px;
}

.footer-container h3 {
    margin-bottom: 20px;
    color: #fff;
    font-size: 20px;
    font-weight: 100;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.footer-base-container {
    height: 90px;
    width: 100%;
}

.footer-base-text-container {
    padding: 30px 50px 30px 50px;
    text-align: center;
}

.footer-grid-container {
    justify-content: center;
    align-items: center;
    margin: 0px 20px 30px 20px;
    max-width: 380px;
}

.footer-img {
    margin-right: 20px;
    height: 25px;
    width: 25px;
}

.footer-img h5 {
    color: #fff;
    text-decoration-color: transparent;
}

.footer-logo {
    margin-left: 20px;
    height: 80px;
    width: 80px;
    padding-top: 30px;
}