:root {
    --prim: #68044a;
    --seco: #94076a;
}

.cl-btn {
    padding: 10px 30px;
    border-radius: 4px;
    font-size: 20px;
    border: none;
    color: #fff;
    cursor: pointer;
    background-color: var(--prim);
    margin-bottom: 30px;
    margin-right: 10px;
    text-decoration-color: transparent;
}

.cl-btn:hover {
    padding: 8px 28px;
    transition: all 0.3s ease-out;
    background-color: transparent;
    color: var(--seco);
    border-radius: 4px;
    border: 2px solid var(--primary);
    text-decoration-color: transparent;
}