.cl-btn {
    padding: 10px 30px 10px 30px;
    border-radius: 20px;
    font-size: 20px;
    border: none;
    color: #fff;
    cursor: pointer;
    background-color: transparent;
    border: 2px solid var(--seco);
    text-decoration-color: transparent;
    margin-bottom: 30px;
    margin-right: 20px;
}

.cl-btn:hover {
    background-color: var(--tert);
    transition: all 0.3s ease-out;
    color: #fff;
    border-radius: 50px;
    border: 2px solid var(--seco);
    text-decoration-color: transparent;
}