.rank-user-container {
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 10px;
    display: flex;
    min-height: 300px;
    grid-gap: 5px;
}

.rank-user-card {
    margin: 2px;
    background-color: var(--deca);
    display: grid;
    flex-direction: column;
    height: 250px;
    width: 150px;
    border-radius: .6rem;
}

.rank-user-card li {
    color: var(--sena);
    font-size: 13px;
    text-decoration: none;
}

.rank-user-card-image {
    align-items: center;
    background-color: var(--deca);
    border-radius: 20px 20px 0px 0px;
    display: grid;
    flex: 5;
    justify-content: space-around;
    overflow: hidden;
    zoom: 30%;
}

.rank-user-card-content {
    display: flex;
    flex-direction: column;
    flex: 5;
    justify-content: space-around;
    padding: 5px;
}

.rank-nav-options {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: scroll;
}

.rank-nav-options::-webkit-scrollbar {
    width: max-content;
}

.options-btn {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 2px;
    background-color: var(--quar);
    border: 2px solid var(--quar);
    display: flex;
    min-height: 50px;
    min-width: 110px;
    border-radius: .6rem;
    cursor: pointer;
    text-overflow: ellipsis;
    text-decoration: none;
    color: var(--sena);
}

.options-btn:hover {
    background-color: transparent;
    border: 2px solid var(--quar);
    color: #fff;
    transition: all 0.3s ease-out;
}

.u-text-placeholder {
    background-color: #a2a8b1;
    display: inline-block;
    height: 9px;
}

.striped-rows {
    background-color: var(--deca);
}

.table-box {
    font-size: 14px;
    border: 1px solid var(--sena);
    padding: 10px;
    text-align: center;
}

@media screen and (max-width: 660px) {
    .rank-user-container {
        min-height: 300px;
        overflow-x: scroll;
    }
    .rank-user-card {
        height: 195px;
        width: 95px;
        text-overflow: ellipsis;
    }
    .rank-nav-options {
        justify-content: start;
    }
}