.navbar {
    background: linear-gradient(138deg, rgb(31, 23, 26) 18%, rgba(29, 17, 22, 0.982) 70%, rgba(58, 12, 29, 0.982) 95%);
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
}

.navbar-logo {
    color: var(--sena);
    height: 50px;
    justify-self: start;
    margin-left: 30px;
    margin-bottom: 40px;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

.fa-firstdraft {
    margin-left: 0.5rem;
    font-size: 1.6rem;
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 70vw;
    justify-content: start;
    margin-right: 2rem;
}

.nav-item {
    display: flex;
    align-items: center;
    height: 84px;
}

.nav-links {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    margin-bottom: 20px;
}

.nav-links:hover {
    background-color: var(--octo);
    border-radius: 50px;
    transition: all 0.2s ease-out;
    color: #fff;
}

.fa-bars {
    color: #fff;
}

.profile-nav {
    display: none;
}

.nav-menu-m {
    display: flex;
    flex-direction: column;
    list-style: none;
    width: 50%;
    height: 14.3in;
    position: fixed;
    top: 0;
    left: -100%;
    opacity: 1;
    transition: all 0.9s ease;
}

.nav-menu-m.active {
    background: var(--quin);
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
    padding: 40px 30px 20px 30px;
}

.nav-links-mobile {
    display: table;
    text-align: center;
    width: 100%;
    padding: 1.4rem;
    border-radius: 12px 0px;
    color: var(--sena);
    font-size: 20px;
    background-color: var(--quar);
    margin-bottom: 4px;
}

.nav-links-mobile:hover {
    background-color: var(--octo);
    color: #fff;
    transition: 250ms;
}

.nav-links-image {
    display: flex;
    text-align: center;
    border-radius: 360px;
    border: 3px solid var(--tert);
    text-decoration: none;
    width: 120px;
    height: 120px;
}

.menu-icon {
    position: fixed;
    top: 0;
    right: 0;
    transform: translate(-100%, 50%);
    font-size: 1.8rem;
    cursor: pointer;
}

@media screen and (max-width: 900px) {
    .nav-item {
        position: relative;
    }
    .nav-menu-m {
        width: 100%;
        position: absolute;
    }
    .navbar-logo {
        top: 0;
        transform: translate(20%, 15%);
        justify-self: start;
        margin-left: 15px;
        margin-bottom: 30px;
        height: 50px;
    }
    .profile-nav {
        display: flex;
        width: 100%;
        align-items: center;
        justify-self: center;
        justify-content: center;
        padding: 10px 10px 20px;
    }
    .nav-links {
        display: none;
    }
    .nav-links-mobile {
        text-align: center;
        padding: 1.7rem;
        border-radius: 20px;
        text-decoration: none;
        color: var(--sena);
        font-size: 20px;
        display: table;
        width: 100%;
        background-color: var(--quar);
    }
    .nav-links-mobile:hover {
        background-color: var(--octo);
        color: #fff;
        transition: 250ms;
    }
    .nav-links-image {
        display: flex;
        text-align: center;
        border-radius: 360px;
        border: 3px solid var(--tert);
        text-decoration: none;
        width: 120px;
        height: 120px;
    }
    button {
        display: none;
    }
}